:root {
    --primary-color: rgb(14, 111, 207);
    --secondary-color: rgb(231, 228, 44);
    --background-color: rgb(123, 182, 250);
    --text-color-normal: #000;
    --box-shadow: 0px 2px 10px #00000056;
    --base-white-color: #fff;
    --shade-btn-color1:rgb(15, 75, 238);
    --shade-btn-color2:rgb(195, 39, 243);
    --shade-btn-color3:rgb(240, 54, 54);
    --shade-btn-color4:red;
    --shade-btn-color5:rgb(10, 235, 59);
    --shade-btn-color6:rgb(13, 196, 22);
    --bg-color-gray:rgb(214, 214, 214);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color-normal);
}

/* Header */

header {
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    padding: 20px 0;
}

.header-container {
    background-color: var(--background-color);
    /*box-shadow: var(--box-shadow);*/

    display: flex;
    justify-content: space-between;

    max-width: 1100px;
    margin: 0 auto;
}

.brand{color: var(--secondary-color);
    font-size: 1.5rem;
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: flex;
        align-items: center;
        img {
            width: 40px;
            margin-right: 10px;
        }
    }
}

.header-button {}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 15px;
    list-style: none;

    margin-left: 20px;

    a {
        text-decoration: none;
        color: var(--base-white-color);
        font-weight: bold;
    }

    a:hover {
        color: var(--secondary-color);
    }
}


/*    Button Style    */
.btn-primary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:var(--primary-color);
    color: var(--base-white-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}


.btn-singup,
.btn-login{ 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

    font-size: 1rem;
    font-weight: bold;
    

    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-singup{
    color: var(--base-white-color);
    background: linear-gradient(to right,var(--shade-btn-color1),var(--shade-btn-color2));
}

.btn-login{
    color: var(--base-white-color);
    background: linear-gradient(to right,var(--shade-btn-color3),var(--shade-btn-color4));
}


.btn-singup:hover{
    color: var(--base-white-color);
    background: linear-gradient(to right,var(--shade-btn-color5),var(--shade-btn-color6));
}

.btn-login:hover{
    color: var(--base-white-color);
    background: linear-gradient(to right,var(--shade-btn-color5),var(--shade-btn-color6));
}






/*    Main Section    */

.container {
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 20px;
}



/*    HERO Section    */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    width: 60%;

    h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: var(--primary-color);
    }

    p {
        font-size: 1.2rem;
        margin: 20px 0;
    }
}

.right-side {
    width: 40%;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }
}


/*  SaaS Solution Section    */

.bg-gray{
    background-color: var(--bg-color-gray);
    padding: 20px 0;
}

.solution {
    margin-top: 50px;
    padding: 50px 20px;
}

.solution-header {
    text-align: center;
    margin-bottom: 20px;
    

    h2 {
        font-size: 2rem;
        color: var(--primary-color);
        margin-bottom: 20px;
    }
    p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
}

.solution-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;   
}

.item {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    background-color: var(--base-white-color);
    padding: 20px;

    h3 {
        font-size: 1.5rem;
        color: var(--primary-color);
        margin-bottom: 10px;
    }
    p {
        font-size: 1rem;
        margin-bottom: 10px;
    }
}


/*    Customize Section    */

.customize {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}


/*   Dedicated  Support Section    */

.support {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row-reverse;
    gap: 30px;
    
    padding: 30px 0;
}


/*    Discover Section    */

.discover {
    margin-top: 50px;
}

.discover-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}



/*    Footer Section    */

footer {
    background-color: var(--primary-color);
    padding: 40px 20px;
    color: var(--base-white-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    margin: auto;
}



.footer-left {
    .logo{
        display: flex;
        align-items: center;
        margin-bottom: 20px;

    }

    img{
        width: 40px;
        height: auto;
    }
    h3 {
        font-size: 2rem;
        
        color: var(--secondary-color);
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
}

.footer-right {
    display: flex;
    gap: 25px;
}

.footer-item {
    h4 {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        li {
            margin-bottom: 4px;

            a {
                text-decoration: none;
                color: var(--base-white-color);
            }

            a:hover {
                color: var(--secondary-color);
            }
        }
    }
}


/*=== Form ===*/
.recomentation-form{
    max-width: 800px;
    margin:0 auto;
}

.form-row{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-group{
    flex: 1;
}


.form-group label{
    font-size: 0.95rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: block;
}

.form-input,
.form-select{
    width: 100%;
    padding: 0.75rem 1rem;
    border: 2px solid #ccc(100, 100, 100);
    border-radius: 8px;
    font-size: 1rem;
    background-color: var(--base-white-color);
}

.form-input:focus,
.form-select:focus{
    border-color: var(--primary-color);
    box-shadow: 0 0 3px var(--bg-color-gray);
    outline: none;
}